.title {
  text-align: center;
  font-size: 32px;
}

body {
  background-color: rgb(209, 203, 160);
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: flex-start; /* Align buttons to the left */
  gap: px; /* Space between buttons */
}

/* Basic button style */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  background-color: rgb(228, 216, 216);
}